.review-container {
    width: 100%;
    height:auto;
}

.review {
    margin: 0; /* margin을 0으로 설정하여 요소 간 간격을 없앰 */
    padding: 1vw;
    display: flex;
    align-items: center;
    border-radius: 0; /* 테두리 반경 제거 */
}

.review img {
    width: 6vw;
    height: 6vw;
    object-fit: cover;
    margin-right: 3vw;
}

.review .content {
    flex-grow: 1;
}

.review .content h3 {
    font-size: 18px;

    white-space: nowrap; /* 텍스트를 한 줄로 유지 */
    overflow: hidden;    /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
    width: 100%; /* 제목이 들어갈 공간의 크기 설정, 필요에 따라 조정 */
    box-sizing: border-box; /* padding을 width에 포함시킴 */
}

.review .content p {
    margin: 0 0 5px;
    font-size: 1em;
}

.review .content .date {
    font-size: 1em;
}
