<div id="store_review_title_container" style="margin-top:3vh;">
    <span>댓글</span>
    <button onclick="getReviewList()" style="width:8vw; height:8vw; background-color:#fff;">
        <img style="width:5vw; height:5vw;" src="/img/default/refresh.png" alt="">
    </button>
</div>
<div id="store_review_container">
    {{^session_user}}
        <div>
            <label for="star">별점: </label><select name="star" id="store_review_star" disabled>
            <option value="1" style="color:#127C74">★</option>
            <option value="2" style="color:#127C74">★★</option>
            <option value="3" style="color:#127C74">★★★</option>
            <option value="4" style="color:#127C74">★★★★</option>
            <option value="5" selected style="color:#127C74">★★★★★</option>
        </select>
        </div>
        <div id="store_review_text_container">
            <textarea name="content" id="store_review_content" placeholder="로그인 후 시용해주세요" disabled></textarea>
            <button id="reviewSendButton" onclick="sendReview()" disabled>작성</button>
        </div>
    {{/session_user}}
    {{#session_user}}
        <div>
            <label for="star" style="margin-right:2vw;">별점:</label>
            <select name="star" id="store_review_star">
                <option value="1" style="color:#127C74">★</option>
                <option value="2" style="color:#127C74">★★</option>
                <option value="3" style="color:#127C74">★★★</option>
                <option value="4" style="color:#127C74">★★★★</option>
                <option value="5" selected style="color:#127C74">★★★★★</option>
                </select>
        </div>
        <div id="store_review_text_container">
            <textarea name="content" id="store_review_content"></textarea>
            <button id="reviewSendButton" onclick="sendReview()">작성</button>
        </div>
    {{/session_user}}
    <table id="store_review_list">

    </table>
</div>