{{#storeData}}
    <h3>{{name}}</h3>
    <div style="margin-bottom:5vh;">
        <div>
            <span>{{style}}</span>
        </div>
        <span>{{location}}</span> [<a href="nmap://route/walk?slat=37.6043803&slng=127.0366509&sname=청년취업사관학교_성북캠퍼스&dlng={{lon}}&dlat={{lat}}&dname={{name}}&zoom=16">길찾기</a>]
    </div>
{{/storeData}}

{{#storeTimeData}}
    <div>
        <p>영업 시간: ( {{DoW}} ){{startTime}} ~ {{endTime}}</p>
        <p>쉬는 시간: {{breakStart}} ~ {{breakEnd}}</p>
    </div>
{{/storeTimeData}}

<table style="width:80%;">
    {{#menuData}}
        <tr>
            <td style="width:60%;">{{name}}</td>
            <td>{{price}}</td>
        </tr>
    {{/menuData}}
</table>