<div id="account_title_bar">
    <img src="/img/default/back_arrow_white.png" style="width:5vh; height:5vh;padding:0.5vh" onclick="window.location.href='/login';">
    <h2 style="position:absolute;top:10%; left:50%; transform: translateX(-50%);">{{head_title}}</h2>
</div>