<div class="account_input_container">
    <p style="font-size:1em;">아이디</p>
    <input type="text" name="username" id="user_id" class="login_input garden_input" placeholder="your ID">
</div>
<div class="account_input_container" style="margin-top:3vw;">
    <p style="font-size:1em;">비밀번호</p>
    <input type="password" name="password" id="user_pw" class="login_input garden_input" placeholder="your password">
    <div style="text-align: left;">
        <span id="login_failure_span" style="margin:3px;"></span>
    </div>
</div>