.applicant_img{
    width:7vw;
    height:7vw;
    border-radius: 50%; 
}
.center_content{
    display:flex;
    align-items:center;
    justify-content: center;
}
#grouping_detail_applicantCell{
    max-height:10vw;
    overflow-y: auto;
}