.applicant_img{
    width:7vw;
    height:7vw;
    border-radius: 50%; 
}
.center_content{
    display:flex;
    align-items:center;
    justify-content: center;
}
#grouping_detail_applicantCell{
    max-height:10vw;
    overflow-y: auto;
}
#grouping_review_text_container{
    display:flex;
    align-items:center;
}

#grouping_review_content{
    resize:none;
    width:72%;
    height: 5vh;
}

#groupingSendButton{
    width: 25%;
    height:5vh;
    margin-left: 3%;
}