<div id="learning_create_applicant_container" style="margin_top:3vw;">
    <p><img src="/img/default/group.png" alt="" style="width:3vw;height:3vw;"> 몇 명이 모일까요?</p>
    <select name="learning_create_applicant_cnt" id="learning_create_applicant_cnt">
        <option value="3">3명</option>
        <option value="4">4명</option>
        <option value="5" selected>5명</option>
        <option value="6">6명</option>
        <option value="7">7명</option>
        <option value="8">8명</option>
    </select>
</div>