<div id="learning_create_freq_container" style="margin_top:3vw;">
    <p><img src="/img/default/history.png" alt="" style="width:3vw;height:3vw;"> 얼마나 자주 모이나요?</p>
    <select name="learning_create_freq" id="learning_create_freq">
        <option value="매일">매일</option>
        <option value="매주 1회">매주 1회</option>
        <option value="2주 1회">2주 1회</option>
        <option value="팀원간 협의">팀원간 협의</option>
        <option value="글 내용 확인">글 내용 확인</option>
    </select>
</div>