<div id="learning_create_container">
    <h3>글 제목</h3>
    <input type="text" id="learning_create_title">

    <h3>내용</h3>
    <textarea name="learning_create_content" id="learning_create_content" cols="30" rows="10"></textarea>
</div>