{{>layout/header}}
    <script src="/script/naverMapConfig.js"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9eujxr3k62"></script>
    <title>theGARDEN</title>
    <!--애러 아니니까 ㄱㄱ-->
</head>
    {{>layout/navi}}
<div class="garden_container">
    <div style="margin:5px">
        <button class="btn btn-primary" onclick="getStoreLocationListByStyle('한식')">한식</button>
        <button class="btn btn-primary" onclick="getStoreLocationListByStyle('분식')">분식</button>
        <button class="btn btn-primary" onclick="getStoreLocationListByStyle('일식')">일식</button>
        <button class="btn btn-primary" onclick="getStoreLocationListByStyle('경양식')">경양식</button>
        <button class="btn btn-primary" onclick="getStoreLocationListByStyle('default')">전체</button>
    </div>
    <div>
        <button onclick="selectMapType(0)">일반지도</button>
        <button onclick="selectMapType(1)">지형도</button>
        <button onclick="selectMapType(2)">위성지도</button>
        <button onclick="selectMapType(3)">혼합지도</button>
    </div>
    <div id="map" style="width:95%;height:70vh;margin: 0 auto;"></div>
</div>
{{>layout/footer}}
<body>
</body>
</html>