<!DOCTYPE html>
<html lang="en">
<head>
    {{>layout/header}}
    <script src="/script/naverMapConfig.js"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9eujxr3k62"></script>
    <title>theGARDEN</title>
    <!--애러 아니니까 ㄱㄱ-->
</head>
    {{>layout/head_title}}
<div class="garden_container">
    <div style="margin:5px">
        <button class="btn btn-primary" onclick="getStoreLocationListByStyle('한식')">한식</button>
        <button class="btn btn-primary" onclick="getStoreLocationListByStyle('분식')">분식</button>
        <button class="btn btn-primary" onclick="getStoreLocationListByStyle('일식')">일식</button>
        <button class="btn btn-primary" onclick="getStoreLocationListByStyle('경양식')">경양식</button>
        <button class="btn btn-primary" onclick="getStoreLocationListByStyle('default')">전체</button>
    </div>
    <div style="positoin:fixed' z-index:0;">
        <div id="map" style="position:absolute;z-index:0;width:95%;height:60vh;margin:0 auto;"></div>
    </div>
</div>
{{>layout/footer}}
{{>layout/navi}}
<body>
</body>
</html>