<div id="navi_container">
    <table id="bottom_table">
        <tr>
            <td style="text-align:center; font-style:bold;" onclick="toMain()">지도</td>
            <td style="text-align:center; font-style:bold;" onclick="toGrouping()">한끼팟</td>
            <td style="text-align:center; font-style:bold;" onclick="toLearning()">러닝메이트</td>
            <td style="text-align:center; font-style:bold;" onclick="toMyPage()">나의 새싹</td>
        </tr>
    </table>
</div>