<div id="navi_container">
    <button class="navi_button" id="menu_button" onclick="setMenuList()"><img src="/img/default/menu.png"/></button>
    <a id="main_a" href="/"><span>the GARDEN</span></a>
    <button class="navi_button" onclick="toLogin()"><img src="/img/default/key.png"/></button>
</div>
<ul id="navi_set">
    <li class="hidden_list"><a href="/">지도</a></li>
    <li class="hidden_list"><a href="/">맛집</a></li>
    <li class="hidden_list"><a href="/grouping/list">그룹핑</a></li>
    <li class="hidden_list"><a href="/">스터디</a></li>    
</ul>