<div id="navi_container">
    <table id="bottom_table">
        <tr>
            <td style="text-align:center; font-style:bold;" onclick="toMain()">지도</td>
            <td style="text-align:center; font-style:bold;" onclick="javascript:void(0)">맛집</td>
            <td style="text-align:center; font-style:bold;" onclick="javascript:void(0)">스터디</td>
            <td style="text-align:center; font-style:bold;" onclick="toGrouping()">나의 새싹</td>
        </tr>
    </table>
</div>