<div id="title_container">
    <button onclick="toBack()" id="title_back_button"><img style="width:5vw; height:5vw;" src="/img/default/back_arrow.png"></button>
    <h3 id="title_title">{{title}}</h3>
    {{#Account}}
        <img id="title_account_img" src="{{imagePath}}" alt="{{username}}">
    {{/Account}}
</div>