<div id="title_container">
    <button onclick="toBack()" id="title_back_button"><img style="width:5vw; height:5vw;" src="/img/default/back_arrow.png"></button>
    <h3 id="title_title">{{title}}</h3>
    {{#profileImage}}
        <button id="login_button" onclick="toMyPage()" style="background-color:#ffffff; margin-right:3vw;">
            <img class="profile_image navi_profile" id="navi_profile" src="{{profileImage}}">
        </button>
    {{/profileImage}}
</div>