<footer style="width:100%; background-color:black; opacity:0.8;">

    <table>
        <tr>
            <span>the GARDEN을 만든 사람들</span>
        </tr>
        <hr>
        <tr>
            <td style="width:15%">김윤석</td>
            <td>[PM]</td>
            <td>성북캠퍼스 데이터분석 2기</td>
        </tr>
        <tr>
            <td>노희진</td>
            <td>[기획]</td>
            <td>성북캠퍼스 올라잇</td>
        </tr>
        <tr>
            <td>장효림</td>
            <td>[개발]</td>
            <td>성북캠퍼스 데이터분석 2기</td>
        </tr>
    </table>
    <p>Team: climb-mates</p>
    <p style="margin-top:20px;">climb-mates 팀은 HTML 개발자를 기다리고 있습니다!</p>
    <p>Github: <a href="https://github.com/JorimJoram/theGARDEN/">링크</a></p>
</footer>