<footer style="width:100%; background-color:black; opacity:0.8;">

    <table>
        <tr>
            <span>the GARDEN을 만든 사람들</span>
        </tr>
        <hr>
        <tr>
            <span>Team: climb-mates</span>
        </tr>
        <tr>
            <td style="width:20%">강윤석</td>
            <td>[PM]</td>
        </tr>
        <tr>
            <td>노희진</td>
            <td>[기획]</td>
        </tr>
        <tr>
            <td>오수연</td>
            <td>[디자인]</td>
        </tr>
        <tr>
            <td>장효림</td>
            <td>[개발]</td>
        </tr>
    </table>
    <p style="margin-top:20px;">climb-mates 팀은<br><b>HTML 개발자</b>를 기다리고 있습니다!</p>
    <p>Github: <a href="https://github.com/JorimJoram/theGARDEN/">링크</a></p>
</footer>