<footer>

    <table>
        <tr>
            <span>the GARDEN을 만든 사람들</span>
        </tr>
        <hr>
        <tr>
            <span>Team: climb-mates</span>
        </tr>
        <tr>
            <td>강윤석[PM]</td>
            <td>노희진[기획]</td>
            <td>오수연[디자인]</td>
            <td>장효림[개발]</td>
        </tr>
    </table>
    <p style="margin-top:20px;">climb-mates 팀은<br><b>HTML 개발자</b>를 기다리고 있습니다!</p>
    <p>Github: <a href="https://github.com/JorimJoram/theGARDEN/">링크</a></p>
</footer>