<div id="head_container">
    <a id="main_a" href="/"><span>SPROUT</span></a>
    {{#profileImage}}
        <button id="login_button" onclick="toMyPage()">
            <img class="profile_image navi_profile" id="navi_profile" src="{{profileImage}}">
        </button>
    {{/profileImage}}
    {{^profileImage}}
        <button id="login_button" onclick="toLogin()"><img src="/img/default/profile.png" class="navi_profile"/></button>
    {{/profileImage}}
</div>