<div id="head_container">
    <button onclick="toBack()" id="title_back_button" style="margin-left:3vw;"><img style="width:5vw; height:5vw;" src="/img/default/back_arrow_white.png"></button>
    <a id="main_a" href="/"><span>SPROUT</span></a>
        <button onclick="toLogout()" class="navi_right_button" style="">로그아웃</button>
</div>