<div style="width:100%; height:5vw; background-color:black; opacity:0.8;">
    <a href="http://49.173.81.57:12571/"><p style="width: 100%; text-align:center; color:white; font-size:4vw;margin:0 auto;">the GARDEN</p></a>
</div>