<div id="navi_container">
    <button class="navi_button"><img src="/img/default/menu.png"/></button>
    <a id="main_a" href="http://49.173.81.57:12571/"><span>the GARDEN</span></a>
    <button class="navi_button"><img src="/img/default/key.png"/></button>
</div>