<table style="width:100%; margin-bottom: 5vw;">
    <tr>
        <th style="text-align:center; width:50%;">주최한 스프</th>
        <th style="padding-left:5vw; text-align:center; width:50%;">참여중인 스프</th>
    </tr>
    <tr>
        <td class="detail_organ_td">
            <img src="{{account.imagePath}}" alt="{{account.name}}" class="detail_organ_img">
            <span style="margin-left:3vw;">{{account.name}}</span>
        </td>
        <td id="learning_detail_applicantCell" class="center-content">

        </td>
    </tr>
</table>