<div id="learning_detail_content_container">
    <table>
        <tr>
            <td><p><img src="/img/default/group.png" alt="" class="detail_img">n명/{{applicantCnt}}명</p></td>
            <td><p><img src="/img/default/sprout.png" alt="" class="detail_img">{{style}}</p></td>
        </tr>
        <tr>
            <td><p><img src="/img/default/history.png" alt="" class="detail_img">{{freq}}</p></td>
        </tr>
    </table>
    <div class="detail_container"style="margin-top:1vh;">
        <p style="font-weight:bold; text-align:center;">내용</p>
        <p class="detail_content">{{content}}</p>
    </div>
</div>