<div id="learning_review_title_container">
    <span>댓글</span>
    <button onclick="setLearningReview()" style="width:5vw; height:5vw; background-color:#fff;">
        <img style="width:5vw; height:5vw;" src="/img/default/refresh.png" alt="">
    </button>
</div>
<div id="learning_review_text_container">
    <textarea name="content" id="learning_review_content"></textarea>
    <button id="learningSendButton" onclick="sendReview()">작성</button>
</div>
<table id="review_data_table">
</table>