#store_review_text_container{
    display:flex;
    align-items:center;
}

#store_review_content{
    resize:none;
    width:72%;
    height: 5vh;
}

#reviewSendButton{
    width: 25%;
    height:5vh;
    margin-left: 3%;
}