<!DOCTYPE html>
<html lang="en">
<head>
    {{>layout/header}}
    <script src="/script/grouping/create_config.js"></script>
    <title>한끼팟 작성</title>
</head>
<body>
    <div class="garden_container">


    </div>
</body>
</html>