<!DOCTYPE html>
<html lang="en">
<head>
    {{>layout/header}}
    <script src="/script/grouping/create_config.js"></script>
    <title>한끼팟 작성</title>
</head>
<body>
    <div class="garden_container">

        {{>grouping/create_fragment/style}}
        {{>grouping/create_fragment/date}}
        {{>grouping/create_fragment/letter}}

        <button onclick="sendData()">작성완료</button>
    </div>
</body>
</html>