{{>layout/header}}
    <title>{{grouping.title}}</title>
</head>
<body>
{{>layout/navi}}
    <div>
        <span>{{grouping.title}}</span>
        <span>{{grouping.createdDate}}</span>
        <span>{{grouping.account.username}}</span>
    </div>
    <div>
        <span>{{grouping.content}}</span>
    </div>
</body>
</html>