<!DOCTYPE html>
<html lang="en">
<head>
    {{>layout/header}}
    <title>{{grouping.title}}</title>
</head>
<body>
{{>layout/bottom_navi}}
<div class="garden_container">
    <div>
        <span>{{grouping.title}}</span>
        <span>{{grouping.createdDate}}</span>
        <span>{{grouping.account.username}}</span>
    </div>
    <div>
        <span>{{grouping.content}}</span>
    </div>
</div>

</body>
</html>