<!DOCTYPE html>
<html lang="en">
<head>
    {{>layout/header}}
    <script src="/script/grouping/detail_config.js"></script>
    <link rel="stylesheet" href="/css/grouping/detail.css">
    <title>{{grouping.title}}</title>
</head>
<body>
{{>layout/bottom_navi}}
    <div class="garden_container">
        {{#grouping}}
            {{>layout/details_title_bar}}
            {{>grouping/detail_fragment/head}}
            {{>grouping/detail_fragment/applicant}}
            {{>grouping/detail_fragment/review}}
        {{/grouping}}
        {{^isMine}}
        <div class="list_create_button_container">
            <button id="grouping_detail_applyButton" onclick="applicantButtonEvent()" class="list_create_button content_create_button"></button>
        </div>
        {{/isMine}}
        {{#isMine}}
        <div class="list_create_button_container">
            <button id="grouping_detail_applyButton" onclick="applicantButtonEvent()" class="list_create_button content_create_button" style="display:none;"></button>
        </div>
        {{/isMine}}
    </div>
</body>
</html>