<!DOCTYPE html>
<html lang="en">
<head>
    {{>layout/header}}
    <link rel="stylesheet" href="/css/grouping/grouping_list.css">
    <script src="/script/grouping/list_config.js"></script>
    <title>한끼팟</title>
</head>
<body>
{{>layout/bottom_navi}}
<div class="garden_container">
    {{#groupList}}
        <div>
            <h3 onclick="toDetail({{id}})">{{title}}</h3>
            <p>{{formattedDate}}</p>
            <p>{{store.name}}</p>
            <div class="grouping_image_name_container">
                <img class="grouping_list_AccountProfile" src="{{account.imagePath}}" alt="{{account.username}}">
                <p>작성자: {{account.username}}</p>
            </div>
        </div>
        <div>
            <p>참여자</p>
            {{#isApply}}
                <button style="background-color:#909090">참여중</button>
            {{/isApply}}
            {{^isApply}}
                <button>참여하기</button>
            {{/isApply}}
            <div class="grouping_list_AccountProfile">
            {{#applicantList}}
                <img class="grouping_list_ApplicantProfile" src="{{account.imagePath}}" alt="{{account.username}}">
                <span>{{account.username}}</span>
            {{/applicantList}}
            </div>
        </div>
    {{/groupList}}
    <button onclick="window.location.href='/grouping/create'" class="garden_button">생성하기</button>
</div>

</body>
</html>