<!DOCTYPE html>
<html lang="en">
<head>
    {{>layout/header}}
    <link rel="stylesheet" href="/css/grouping/grouping_list.css">
    <script src="/script/grouping/list_config.js"></script>
    <title>한끼팟</title>
</head>
<body>
    {{>layout/head_title_with_back}}
    <p id="grouping_explain" style="background-color:#FAFAFA; color:#7F7F7F; padding:4vw;">새로운 사람과 같이 밥 먹고 싶지만 먼저<br>말걸기가 어렵다면 <strong>한끼팟</strong>을 이용해보세요!</p>
    <div class="garden_container">
        {{#groupList}}
            <table style="border:1px solid #000000; border-radius:3vw; width:100%; padding:3vw; margin-top:2vh;">
                    <tr>
                        <td><h2 onclick="toDetail({{id}})">{{title}}</h2></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/img/default/sprout.png" class="detail_applicant_img">
                            {{store.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/img/default/history.png" alt="" class="detail_applicant_img">
                            {{formattedDate}}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ment}}</td>
                    </tr>
                    <tr>
                        <td>
                            <img class="profile_image navi_profile" src="{{account.imagePath}}" alt="{{account.username}}">
                            <span style="margin-left:3vw;">{{account.nickname}}</span>
                        </td>
                    </tr>
                    <tr>
                        {{#isApply}}
                        <td><span style="font-weight:bold; color:#127C74">참여예정</span></td>
                        {{/isApply}}
                    </tr>
            </table>
        {{/groupList}}
        <div class="list_create_button_container">
            <button onclick="window.location.href='/grouping/create'" class="garden_button list_create_button list_button_float">생성하기</button>
        </div>
    </div>
    {{>layout/bottom_navi}}
</body>
</html>