{{>layout/header}}
    <title>그루핑</title>
</head>
<body>
{{>layout/navi}}
{{#groupList}}
    <div>
        <a href="http://localhost:12571/grouping/detail/{{id}}">{{title}}</a>
        <span>{{formattedDate}}</span>
        <span>{{account.username}}</span>
        <div>
            <span>{{content}}</span>
        </div>
    </div>
{{/groupList}}
</body>
</html>