<!doctype html>
<html lang="en">
<head>
    {{>layout/header}}
    <script src="/script/account/account_1.js"></script>
    <link rel="stylesheet" href="/css/account.css">
    <title>회원가입 1</title>
</head>
<body>
    {{>account/account_layout/bar/account_title_bar}}
    <div class="garden_container">
        {{>account/account_layout/terms/term_using}}
        {{>account/account_layout/terms/term_private}}
    </div>
</body>
</html>