<!doctype html>
<html lang="en">
<head>
    {{>layout/header}}
    <script src="/script/account/account_1.js"></script>
    <title>회원가입 1</title>
</head>
<body>
    <label for="personal_info">개인정보 이용 동의</label>
    <input type="checkbox" id="personal_info" onclick="selectPersonalInfo()">
    <label for="account_info">회원가입 및 이용 동의</label>
    <input type="checkbox" id="account_info" onclick="selectAccountInfo()">

    <button onclick="toClassPage()">test</button>
</body>
</html>