<!doctype html>
<html lang="en">
<head>
    {{>layout/header}}
    <script src="/script/account/account_4.js"></script>
    <script src="/script/mail/smsConfig.js"></script>
    <title>{{head_title}}</title>
</head>
<body>
    <div class="garden_container">
        <p>전화번호</p>
        {{>account/account_layout/tel}}
        <p>메일 인증</p>
        {{>account/account_layout/mail}}
        <div id="account_fin_button_container">
            <button onclick="sendData()">완료하기</button>
        </div>
    </div>
</body>
</html>