<!doctype html>
<html lang="en">
<head>
    {{>layout/header}}
    <script src="/script/account/account_3.js"></script>
    <title>{{head_title}}</title>
</head>
<body>
    <div class="garden_container">
        <h2>아이디와 닉네임, 비밀번호를 입력해주세요</h2>
        {{>account/account_layout/username}}
        {{>account/account_layout/password}}
        <button onclick="toCertPage()">다음으로</button>
    </div>
</body>
</html>