<div class="account_class_container">
    <select>
        <option>서대문캠퍼스</option>
        <option>성북캠퍼스</option>
        <option>영등포캠퍼스</option>

    </select>
    <select>
        <option>올라잇 2기</option>
        <option>데이터분석 2기</option>
    </select>
</div>