<div id="account_email_container">
    <div>
        <div id="account_span_container"><span class="account_span jaksim_font">email</span></div>
    </div>
    <input class="account_input" id="account_email" type="text" placeholder="아이디를 여기에 입력해주세요"/>
    <button id="account_email_sendButton" onclick="sendEvent()">이메일 인증</button>
    <span id="account_email_time" style="color:red"></span>
    <div id="account_span_message_container">
        <span id="account_email_result" style="color:red"></span>
    </div>
    <div id="account_span_message_container">
        <input id="account_email_code" placeholder="인증번호 확인"/>
        <button id="account_email_codeCheck" onclick="checkEmailCode()" disabled>인증</button>
    </div>
    <div id="account_span_message_container">
        <span id="account_emailAuth_result" style="color:red"></span>
    </div>
</div>
