<div id="account_name_container">
    <div>
        <div id="account_span_container"><span class="account_span jaksim_font">이름(성명)</span></div>
    </div>
    <input class="account_input" id="account_name" type="text" placeholder="이름을 한글로 입력해주세요" onblur="checkKoreanRegex()">
    <p id="account_name_check" style="color:red"></p>
</div>