<div id="account_password_container">
    <div id="account_span_container"><span class="account_span jaksim_font">비밀번호</span></div>
    <div id="account_input_container" class="account_input_container">
        <input type="password" id="account_password" class="account_input" placeholder="비밀번호를 입력해주세요" onblur="checkPasswordRegex()">
        <input type="password" id="account_confirm" class="account_input" placeholder="비밀번호를 확인해주세요" onblur="checkPassword()">
    </div>
    <div id="account_span_message_container">
        <span id="account_password_result"></span>
    </div>
</div>