<div class="account_tel_container">
    <div>
        <div id="account_span_container"><span class="account_span jaksim_font">tel</span></div>
    </div>
    <input class="account_input" id="account_userid" type="text" placeholder="-없이 입력해주세요">
</div>