<div class="account_tel_container">
    <div>
        <div id="account_span_container"><span class="account_span jaksim_font">tel</span></div>
    </div>
    <input class="account_input" id="account_tel" type="text" placeholder="-없이 입력해주세요" onblur="checkTelRegex(this)">
    <div>
        <span id="account_tel_result" style="color:red"></span>
    </div>
</div>