<div id="account_username_container">
    <div>
        <span class="jaksim_font">아이디</span>
    </div>
    <div>
        <input class="account_input" id="account_username" autocapitalize="off" autocomplete="new-password" inputmode="text" spellcheck="false" type="text" placeholder="영문자+숫자 5자 이상" onblur="checkUsername()"/>
    </div>
    <span id="account_username_result"></span>
</div>