<!doctype html>
<html lang="en">
<head>
    {{>layout/header}}
    <title>공사중</title>
</head>
<body>
    {{>layout/head_title}}
    <div class="garden_class" style="margin:5vw;">
        <h1 style="text-align:center;">공사중입니다</h1>
        <p style="text-align:center;">빠른 시일 내에 마무리하겠습니다 џ(ºДºџ)</p>
        <img src="/img/default/construction.jpeg" style="width:100%; height:auto;" alt="공사중">
        <span style="font-size:0.5em; color:#AAAAAA;">Painted by 이민지</span>
    </div>
</body>
</html>