<div style="display:flex; justify-content:center; align-item:center;">
    <button class="styleButton" style="margin:5px; white-space: nowrap;" onclick="getStoreLocationListByStyle('default', event)">초기화</button>
        <div id="main_button_container" style="margin:5px; overflow:auto; white-space:nowrap;">
            <button class="styleButton" style="border:1px solid #0052A4; color: #0052A4" onclick="getStoreLocationListByStyle('한식', event)">한식</button>
            <button class="styleButton" style="border:1px solid #747F00; color: #747F00" onclick="getStoreLocationListByStyle('일식', event)">일식</button>
            <button class="styleButton" style="border:1px solid #996CAC; color: #996CAC" onclick="getStoreLocationListByStyle('양식', event)">양식</button>
            <button class="styleButton" style="border:1px solid #77C4A3; color: #77C4A3" onclick="getStoreLocationListByStyle('중식', event)">중식</button>
            <button class="styleButton" style="border:1px solid #996CAC; color: #996CAC" onclick="getStoreLocationListByStyle('분식', event)">분식</button>
            <button class="styleButton" style="border:1px solid #00A4E3; color: #00A4E3" onclick="getStoreLocationListByStyle('아시아', event)">아시아</button>
            <button class="styleButton" style="border:1px solid #00A84D; color: #00A84D" onclick="getStoreLocationListByStyle('제로페이', event)">
                <img src="/img/store/bizplay.png" style="width:20px; height:20px;">
                <span>제로 페이</span>
            </button>
            <button class="styleButton" onclick="getStoreLocationListByStyle('식대', event)">1만원 이하</button>
            <button class="styleButton" onclick="getStoreLocationListByStyle('점심팟', event)">점심팟</button>
            <div id="highlight_test"></div>
        </div>
</div>
