<div id="main_button_container" style="margin:5px; overflow:auto; white-space:nowrap;">
    <button class="" onclick="getStoreLocationListByStyle('한식')">한식</button>
    <button class="" onclick="getStoreLocationListByStyle('일식')">일식</button>
    <button class="" onclick="getStoreLocationListByStyle('양식')">양식</button>
    <button class="" onclick="getStoreLocationListByStyle('중식')">중식</button>
    <button class="" onclick="getStoreLocationListByStyle('아시아')">아시아</button>
    <button class="" onclick="getStoreLocationListByStyle('분식')">분식</button>
    <button class="" onclick="getStoreLocationListByStyle('default')">전체</button>
</div>