<!DOCTYPE html>
<html lang="en">
<head>
    {{>layout/header}}
    <title>가게 정보</title>
    <script src="/script/infoConfig.js"></script>
    <script src="/script/storeReview.js"></script>
    <link rel="stylesheet" href="/css/store/storeInfo.css">
</head>
<body>
    <div class="garden_container">
        {{>store/info_fragment/carousel}}
        {{>store/info_fragment/store_main}}
        {{>store/info_fragment/review}}
        {{>store/info_fragment/grouping}}
    </div>
{{>layout/bottom_navi}}
</body>
</html>