<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>가게 정보</title>
    <script src="/script/infoConfig.js"></script>
</head>
<body>
    <button onclick="backButton()">Back</button>
    <a href="https://map.naver.com/p/entry/place/{{storeData.attr}}">이동</a>
</body>
</html>