<!DOCTYPE html>
<html lang="en">
<head>
    {{>layout/header}}
    <title>가게 정보</title>
    <script src="/script/infoConfig.js"></script>
    <script src="/script/storeReview.js"></script>
    <link rel="stylesheet" href="/css/store/storeInfo.css">
</head>
<body>
    {{>store/info_fragment/head_title}}
    <div class="garden_container">
        <span style="display:none" id="grouping_my_username">{{my_username}}</span>
        {{>store/info_fragment/carousel}}
        {{>store/info_fragment/store_main}}
        {{>store/info_fragment/review}}
    </div>
{{>layout/bottom_navi}}
</body>
</html>