#navi_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height:10vw;
    background-color: black;
    opacity:0.8;
}

#main_a{
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration:none;
}

#main_a > span{
    color:white;
    font-size: 7vw;
    font-style: bold;
}

.navi_button{
    display:flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size:4vw;

    margin: 0.5vw;
    border-radius: 10px;
    border: none;
    box-shadow:none;
    background-color: black;

    height: 7vw
}

.navi_button img{
    width: 7vw;
    height: 7vw;
}

.hidden_list{
    display: none;
}

#navi_set{
    list-style-type: none;
    padding:0;
    margin:0;
}

#navi_set li{
    background-color: black;
    opacity: 0.8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 1vw;
    transition: background-color 0.3s;
}

#navi_set li a{
    text-decoration: none;
    color:#fff;
    display: block;
}