#navi_container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height:10vw;
    background-color: black;
    opacity:0.8;
}

#main_a{
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration:none;
}

#main_a > span{
    color:white;
    font-size: 7vw;
}

.navi_button{
    display:flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size:4vw;

    margin: 0.5vw;
    border-radius: 10px;
    border: none;
    box-shadow:none;
    background-color: black;

    height: 7vw
}

.navi_button img{
    width: 7vw;
    height: 7vw;
}
