footer {
    background-color: black;
    opacity:0.8;
    padding: 3vw 2vw 18vw 2vw;
    color: white;
}
footer table {
    margin-start: 10%;
    color: white; /* Table text color set to white */
}
footer table td {
    color:white;
}