<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>

    <script src="/script/accountConfig.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div>
        <div class="input_container">
            <div>
                <span class="jaksim_font">아이디</span>
            </div>
            <div>
                <input class="account_input" id="account_username" type="text" placeholder="아이디를 여기에 입력해주세요"/>
                <button type="button" onclick="checkUsername()">아이디 중복 확인</button>
            </div>
            <span id="account_username_result"></span>
        </div>

        <div class="inpuÏt_container">
            <div id="account_span_container"><span class="account_span jaksim_font">비밀번호</span></div>
            <div id="account_input_container" class="account_input_container">
                <input type="password" id="account_password" class="account_input" placeholder="비밀번호를 입력해주세요">
                <input type="password" id="account_confirm" class="account_input" placeholder="비밀번호를 확인해주세요">
                <button onclick="checkPassword()">비밀번호 확인</button>
            </div>
            <div id="account_span_message_container">
                <span id="account_password_result" style="color:red"></span>
            </div>
        </div>
        <!--비밀번호까지는 해결합쇼-->

        <div class="input_container">
            <div>
                <div id="account_span_container"><span class="account_span jaksim_font">새싹 ID</span></div>
            </div>
            <input class="account_input" id="account_userid" type="text" placeholder="아이디를 여기에 입력해주세요"/>
        </div>

        <div class="input_container">
            <div>
                <div id="account_span_container"><span class="account_span jaksim_font">email</span></div>
            </div>
            <input class="account_input" id="account_userid" type="text" placeholder="아이디를 여기에 입력해주세요"/>
            <button>이메일 인증</button>
        </div>

        <div class="input_container">
            <div>
                <div id="account_span_container"><span class="account_span jaksim_font">tel</span></div>
            </div>
            <input class="account_input" id="account_userid" type="text" placeholder="아이디를 여기에 입력해주세요">
        </div>

        <div class="input_container">
            <div>
                <div id="account_span_container"><span class="account_span jaksim_font">관심 키워드</span></div>
            </div>
            <input class="account_input" id="account_userid" type="text" placeholder="아이디를 여기에 입력해주세요">
        </div>
    </div>
</body>
</html>