<!doctype html>
<html lang="en">
<head>
    {{>layout/header}}
    <link rel="stylesheet" href="/css/account.css">
    <script src="/script/accountConfig.js"></script>
    <script src="/script/smsConfig.js"></script>
    <title>{{head_title}}</title>
</head>
<body>
    {{>account/account_layout/bar/account_title_bar}}
    <div class="garden_container">
        {{>account/account_layout/username}}
        {{>account/account_layout/password}}
        {{>account/account_layout/name}}
        {{>account/account_layout/birth}}
        {{>account/account_layout/gender}}
        {{>account/account_layout/education}}
        {{>account/account_layout/email}}

        <div style="display:flex; justify-content: center;align-items:center;">
            <button class="garden_button" id="account_create_button">계정생성</button>
        </div>
    </div>
</body>
</html>