<!DOCTYPE html>
<html lang="en">
<head>
    {{>layout/header}}
    <script src="/script/accountConfig.js"></script>
    <script src="/script/accountFin.js"></script>
    <script src="/script/smsConfig.js"></script>
    <title>회원가입</title>
</head>
<body>
    {{>layout/bottom_navi}}
    <div class="garden_container">
        {{>account/fragmentation/username}}
        {{>account/fragmentation/password}}
        {{>account/fragmentation/email}}
        {{>account/fragmentation/name}}
        {{>account/fragmentation/tel}}
        {{>account/fragmentation/academy}}

        <button class="btn btn-primary" onclick="axiosAction()">send</button>
    </div>
    {{>layout/footer}}
</body>
</html>