<!DOCTYPE html>
<html lang="en">
<head>
    {{>layout/header}}
    <title>로그인</title>
</head>
<body>
{{>layout/bottom_navi}}
<div id="login_wrapper" class="garden_container">
    <h1 id="login_head">로그인</h1>
    <form action="/login/action" method="post">
        <div class="account_input_container">
            <input type="text" name="username" id="user_id" class="login_input" placeholder="USER ID">
        </div>
        <div class="account_input_container">
            <input type="password" name="password" id="user_pw" class="login_input" placeholder="USER PW">
            <div style="text-align: left;">
                <span id="login_failure_span" style="margin:3px;"></span>
            </div>
        </div>
        <div id="login_button_container">
            <div>
                <button class="jaksim_btn" type="submit" id="login_loginButton">로그인</button>
            </div>
            <div class="jaksim_font" id="login_account_container">
                <div style="order: 1;">
                    <a class="login_a_tag jaksim_font" type="button" onclick="window.location.href='/account';">회원가입</a>
                </div>
                <div style="order: 2;">
                    <a class="login_a_tag jaksim_font" href="/find/userid">아이디</a><span> / </span><a class="login_a_tag jaksim_font" href="/find/userpw">비밀번호</a><span>찾기</span>
                </div>
            </div>
        </div>
    </form>
</div>
{{>layout/footer}}
</body>
</html>