<!DOCTYPE html>
<html lang="en">
<head>
    {{>layout/header}}
    <script src="/script/loginConfig.js"></script>
    <link rel="stylesheet" href="/css/main/loginPage.css">
    <title>로그인</title>
</head>
<body>
<div class="garden_container" id="login_container">
    <h1 id="login_head" style="text-align:center">Sprout 로그인</h1>
    <form id="login_form" action="/login/action" method="post">
        {{>account/login_fragment/username_password_input}}
        {{>account/login_fragment/button_container}}
        {{>account/login_fragment/link_container}}
    </form>
</div>

{{>layout/bottom_navi}}
</body>
</html>