<!doctype html>
<html lang="en">
<head>
    {{>layout/header}}
    <script src="/script/mypage/mypageConfig.js"></script>
    <title>마이페이지</title>
</head>
<body>
    {{>layout/head_title_with_back}}
    <div class="garden_container">
        {{#userData}}
            {{>account/mypage_layout/image}}
            {{>account/mypage_layout/nickname}}
        {{/userData}}
    </div>
    {{>layout/bottom_navi}}
</body>
</html>