<!doctype html>
<html lang="en">
<head>
    {{>layout/header}}
    <script src="/script/sseConfig.js"></script>
    <title>TestDocument</title>
</head>
<body>
    <h1>SSE Notificaiton</h1>
    <div id="notifications"></div>
</body>
</html>