<div class="account_item_container">
    <p class="account_component_item"><img src="/img/default/radio_point.png" class="account_point_img" alt="">생년월일</p>
    <input type="date" value="2024-12-31" class="garden_input" onchange="birthCheck(event)">
    <span id="account_birth_result"></span>
</div>