<div class="account_item_container">
    <p class="account_component_item"><img src="/img/default/sprout_circle.png" class="account_point_img" alt="">생년월일</p>
    <input type="tel" id="account_birth" class="garden_input" onchange="birthCheck(event)" placeholder="6자리">
    <span id="account_birth_result"></span>
</div>