<div class="account_item_container">
    <p class="account_component_item"><img src="/img/default/radio_point.png" class="account_point_img" alt="">수강 중인 학습분반</p>
    <div>
        <select id="account_select_campus" onchange="campusCheck(event)" autofocus="true">
            <option value="선택" selected>선택</option>
            <option value="성북">성북캠퍼스</option>
            <option value="강북">강북캠퍼스</option>
            <option value="도봉">도봉캠퍼스</option>
            <option value="성동">성동캠퍼스</option>
        </select>
    </div>
    <div style="margin-top:1vh;">
        <select id="account_select_class" onchange="checkClass(event)"></select>
    </div>
</div>