<div class="account_item_container">
    <p class="account_component_item"><img src="/img/default/radio_point.png" class="account_point_img" alt="">성별</p>
    <select id="account_gender" onchange="genderCheck(event)">
        <option value="0">선택</option>
        <option value="1">남성</option>
        <option value="2">여성</option>
    </select>
</div>