<div>
    <input type="email" class="garden_input" placeholder="@을 포함하여 모두 적어주세요" onblur="emailCheck(event)">
    <span id="account_email_result"></span>
    <input type="text" placeholder="인증번호를 입력해주세요" class="garden_input" id="account_mailCert" onblur="checkEmailCode(event)">
    <span id="account_mailCert_result"></span>
</div>