<div class="account_item_container">
    <p class="account_component_item"><img src="/img/default/radio_point.png" class="account_point_img" alt="">이름</p>
    <input type="text" id="account_name" onblur="nameCheck(event)" class="garden_input" placeholder="이름을 한글로 입력해주세요">
    <span id="account_name_result"></span>
</div>