<div id="password_container">
    <p>비밀번호</p>
    <input id="account_password" type="password" onblur="passwordRegex(event)" class="garden_input" placeholder="영문자+숫자+특수문자 5글자 이상">
    <span id="account_password_result"></span>
</div>