<div id="password_container" class="account_item_container">
    <p class="account_component_item"><img src="/img/default/default_circle.png" class="account_point_img" alt="">비밀번호</p>
    <input id="account_password" type="password" onblur="passwordRegex(event)" class="garden_input" placeholder="영문자+숫자 5글자 이상">
    <input id="account_password_confirm" type="password" onblur="checkPassword(event)" class="garden_input" placeholder="비밀번호를 다시 입력해주세요" style="margin-top:1vh;">
    <span id="account_password_result"></span>
</div>