<div id="personal_container">
    <input type="number" id="personal_start" onblur="checkPersonalStart(event)">
    <input type="number" id="personal_gender" onblur="checkPersonalEnd(event)">
    <span id="account_personal_result"></span>
</div>