<div id="account_select_container">
    <select id="account_select_campus" onchange="selectCampus(event)" autofocus="true">
        <option value="선택" selected>선택</option>
        <option value="성북">성북캠퍼스</option>
        <option value="강북">강북캠퍼스</option>
        <option value="도봉">도봉캠퍼스</option>
        <option value="성동">성동캠퍼스</option>
    </select>
    <select id="account_select_class" onchange="selectClass(event)"></select>
</div>