<div id="account_username_container" class="account_item_container">
    <p class="account_component_item"><img src="/img/default/sprout_circle.png" class="account_point_img" alt="">아이디</p>
    <input type="text" id="account_username" onblur="usernameCheck(event)" class="garden_input" placeholder="영문자+숫자 5글자 이상">
    <span id="account_username_result"></span>
</div>
