<div id="account_username_container">
    <p>아이디</p>
    <input type="text" id="account_username" onblur="usernameCheck(event)" class="garden_input" placeholder="영문자+숫자 5글자 이상">
    <span id="account_username_result"></span>
</div>
<div id="account_nickname_container">
    <p>닉네임</p>
    <input type="text" id="account_nickname" onblur="nicknameCheck(event)" placeholder="활동할 떄 사용될 닉네임입니다" class="garden_input">
    <span id="account_nickname_result"></span>
</div>
