<div id="account_term_private_container">
    <h2 class="account_term_title">개인정보 수집 및 이용동의</h2>
    <div class="account_term">
        - 개인정보 수집 및 이용 목적: 서비스 회원가입 및 관리, 서비스 및 콘텐츠 제공
        - 수집하는 개인정보 항목: 이름, 닉네임, 이메일, 아이디, 비밀번호, 생년월일, 성별
        - 개인정보 보유 및 이용 기간: 회원탈퇴 시

        ※ 귀하는 위와 같이 개인정보를 수집·이용하는데 동의를 거부할 권리가 있습니다. 필수 수집 항목에 대한 동의를 거절하는 경우 서비스 이용이 제한될 수 있습니다. 위와 같이 개인정보를 수집·이용하는데 동의하십니까?
    </div>
    <input type="checkbox" id="account_info" onclick="selectAccountInfo()">
    <span>개인정보 수집 및 이용 동의</span>
</div>