<table style="width:100%; margin-bottom: 5vw;">
    <tr>
        <th style="text-align:center; width:50%;">주최한 스프</th>
        <th style="padding-left:5vw; text-align:center; width:50%;">참여중인 스프</th>
    </tr>
    <tr>
        <td>
            <img src="{{account.imagePath}}" alt="{{account.username}}" style="width:10vw; height:10vw; radius:50%;">
            <span>{{account.username}}</span>
        </td>
        <td id="grouping_detail_applicantCell" class="center-content">
            <!--누가 등록중인지는 비동기식으로 확인해야할 것으로 보임-->
        </td>
    </tr>
</table>