<div id="grouping_detail_head">
    <div style="margin-top:3vw;">
        <img src="/img/default/calendar.png" style="width:5vw; height:5vw; " alt="">
        <span>{{formattedDate}}</span>
    </div>
    <div style="margin-top:3vw;">
        <img src="/img/default/marker_with_person.png" style="width:5vw; height:5vw" alt="">
        <span>{{store.name}}</span>
    </div>
    <div class="detail_container">
        <p class="detail_content">{{content}}</p>
    </div>
</div>