<div id="grouping_review_title_container">
    <span>댓글</span>
    <button onclick="setGroupingReview()" style="width:7vw; height:7vw; background-color:#fff; border: 1px solid #000; border-radius:50%;">
        <img style="width:5vw; height:5vw;" src="/img/default/refresh.png" alt="">
    </button>
</div>
{{^session_user}}
    <div id="grouping_review_text_container">
        <textarea name="content" id="grouping_review_content" placeholder="로그인 후 시용해주세요" disabled></textarea>
        <button id="groupingSendButton" onclick="javascript:void(0);" disabled>작성</button>
    </div>
{{/session_user}}
{{#session_user}}
    <div id="grouping_review_text_container">
        <textarea name="content" id="grouping_review_content"></textarea>
        <button id="groupingSendButton" onclick="sendReview()">작성</button>
    </div>
{{/session_user}}
<table id="review_data_table">
</table>