<div id="grouping_review_title_container" style="display:flex; align-items:center;">
    <span>댓글</span>
    <button onclick="setGroupingReview()" style="width:7vw; height:7vw; background-color:#fff;">
        <img style="width:5vw; height:5vw;" src="/img/default/refresh.png" alt="">
    </button>
</div>
<div id="grouping_review_text_container">
    <textarea name="content" id="grouping_review_content"></textarea>
    <button id="groupingSendButton" onclick="sendReview()">작성</button>
</div>
<div id="review-container" class="review-container"></div>
<!--<table id="review_data_table">-->