<div id="letter_container">
    <p>제목</p>
    <input type="text" id="grouping_create_title" style="display:block" class="garden_input">
    <p>내용</p>
    <textarea id="grouping_create_content" class="garden_input" style="resize:none;width100%;height: 30vh;"></textarea>
</div>