<div id="letter_container">
    <p>제목</p>
    <input type="text" id="grouping_create_title" style="display:block">
    <p>내용</p>
    <textarea id="grouping_create_content" cols="30" rows="10"></textarea>
</div>