<p>어디서 만날까요</p>
<select name="grouping_create_style" id="grouping_create_style">
    <option value="한식"></option>
</select>
<select name="grouping_create_store" id="grouping_create_store">
    <option value=""></option>
</select>