<div id="nickname_container">
    <input type="text" id="mypage_nickname" class="garden_input" value="{{nickname}}">
    <button onclick="changeNickname()">수정</button>
    <span id="mypage_nickname_result"></span>
</div>